extends layout

block content
  each article in articles
    article.article.intro
      header
        p.date
          span= moment.utc(article.date).format('DD. MMMM YYYY')
        h1
          a(href=article.url)= article.title
      section.content
        !{ typogr(article.intro).typogrify() }
        if article.hasMore
          p.more
            a(href=article.url) more
  div.nav
      if prevPage
        a(href=prevPage.url) « Newer &nbsp;
      else
        a(href='/archive.html') « Archives &nbsp;
      if nextPage
        a(href=nextPage.url) Next page »

append footer
  +background('/img/woven.jpg')
